<div class="card">
    <img alt="{{jobItem.company}} logo" src={{jobItem.logo}} class="card__image" />
    <div class="card__multi-line-flex">
        <div class="card__single-line-flex">
            <div class="company--name"> {{jobItem.company}}</div>
            <app-button className="button--new" text="New" *ngIf="jobItem.new" class="card--new"></app-button>
            <app-button className="button--featured" text="Featured" *ngIf="jobItem.featured" class="card--featured"></app-button>
        </div>
        <div class="role">{{jobItem.position}}</div>
        <div class="card__single-line-flex"> 
            <div>{{jobItem.postedAt}}</div>
            <div>{{jobItem.contract}}</div>
            <div>{{jobItem.location}}</div>
        </div>
    </div>
    <div class="card__languages">
        <app-button className="button--filter" text={{jobItem.role}} (btnClick) = "addFilter(jobItem.role!)"></app-button>
        <app-button className="button--filter" text={{jobItem.level}} (btnClick) = "addFilter(jobItem.level!)"></app-button>
        <app-button className="button--filter" *ngFor="let tool of jobItem.tools" text={{tool}} (btnClick) = "addFilter(tool)"></app-button>
        <app-button className="button--filter" *ngFor="let lang of jobItem.languages" text={{lang}} (btnClick) = "addFilter(lang)"></app-button>
    </div>
</div>