<div class="modal">
    <div class="modal__header">Drop your email for job alerts</div>
    <form (ngSubmit)="onSubmit()" [formGroup]="checkOutForm">
        <label>Email</label>
        <input class="modal__input" type="email" placeholder="jane.doe@offical.com" formControlName="email" />
        <!-- <div *ngIf = "name.invalid && (name.touched || name.dirty)">Must be filled</div> -->
        <br />
        <div>or</div>
        <br />
        <label>Phone number</label>
        <input class="modal__input" type="tel" placeholder="Phone" formControlName="phone" />
        <br />
        <button type="submit" class="modal__submit" [disabled]="!checkOutForm.valid">Submit</button>
        <p>{{checkOutForm.status}}</p>
    </form>


    <form (ngSubmit)="onTrySubmit()">
        <input type="text" placeholder="trial input..." [formControl]="trialText"/>
        <input type="submit" value="submit" />
        <app-button text={{trialText.value}}></app-button>
    </form>
</div>
<!-- formControlName used to bind the input tage elements with the corresponding formBinding elements in the component file -->
<!-- ngSubmit is the event binding listen to form submission -->