<app-header></app-header>
<nav>
    <ul>
        <li><a [routerLink]="['/','job-apply']">Home</a></li>
        <li><a routerLink="/signup">Register/Login</a></li>
        <li><a routerLink="/practice" routerLinkActive="activebutton">Practice</a></li>
    </ul>
</nav>
<app-button *ngIf="hasRoute('/job-apply')" text="Clear" className="button--clear" (btnClick)="clearFilter()">
</app-button>
<router-outlet></router-outlet>

<ng-container *ngIf="hasRoute('/')">
    <app-modal></app-modal>
    <app-rating></app-rating>
</ng-container>

<!-- <ng-template appExampleZippyContent></ng-template>
<ng-container [ngTemplateOutlet]="content.templateRef"></ng-container> -->